html {
  font-family: Arial, monospace;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  color: white;
  background-image: linear-gradient(180deg, rgb(195, 11, 11), rgb(176, 60, 60));
  height: 100vh;
  text-align: center;
  text-shadow: 2px 2px 20px black;
  overflow-y: hidden;
}

button {
  font-size: 1.4rem;
  font-weight: inherit;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(59, 0, 255);
  width: 30%;
  margin-right: 20px;
  padding: 20px 0;
  box-shadow: 4px 4px 20px black;
}
#reset {
  margin-top: 5vh;
}

#scoreBoard {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 22vh 10px;
}
#userScoreBoard, #compScoreBoard {
  display: flex;
  flex-direction: column;
  background: rgb(80, 80, 80);
  font-size: 1.4rem;
  line-height: 9vh;
  height: 18vh;
  width: 30vw;
  border: 3px solid white;
  border-radius: 10px;
}

#compScoreBoard {margin-right: 2vw;}

#gameBanner {
  font-size: 1.6rem;
  background: rgb(38, 159, 246);
  border: 3px solid white;
  border-radius: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46vh;
}
#gameStatus {
  font-size: 1.6rem;
}

#faceOffLeft {
  position: fixed;
  left: 10vw;
}
#faceOffRight {
  position: fixed;
  right: 10vw;
}
.faceOffLeft {
  animation-name: faceOffLeft;
  animation-duration: 1s;
  animation-iteration-count: 3;
}
.faceOffRight {
  animation-name: faceOffRight;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes faceOffLeft {
  8% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes faceOffRight {
  8% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@media (max-width: 900px) {
  html {font-size: 1.6rem;}
  h1 {margin-top: 0}
  #userScoreBoard, #compScoreBoard {width: 40vw;}
  #userScoreBoard {margin-left: 1vw;}
  #compScoreBoard  {margin-right: 6vw;}
}
